* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

html{
    font-size: 62.5%;
}
.nav{
    /* border: 1px solid black; */
    width: 100%;
    height: 5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr 2fr 1fr 100px;
}
.logofornav{
    grid-column: 2/3;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    height: 5rem;
    justify-content: space-between;
}
.logofornav img{
 width: 20%;
 height: 100%;

}

.logofornav h1{
    width: 75%;
    height:fit-content;
    font-size: 1.5rem;
    font-weight: 620;
    color: rgb(81, 81, 81);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    grid-column: 3/4;
    width: 100%;
    /* border: 1px solid red; */
  }
  
  .search__input {
    border: 1px solid rgb(83, 83, 83);
    color: #060606;
    padding: 5px;
    background-color:#f0eeee ;
    border-radius: 2px;
    width: 100%;
    transition: all ease-in-out .5s;
    margin-right: -8rem;
  }
  
  .search__button {
    width: 10%;
    border: none;
    border-right: 1px solid black;
    border-radius: 2px;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
  }
.iconfornav{
    width: 100%;
    height: 5rem;
    grid-column: 4/5;
}
.ulofnavicon{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    align-items: center;
    justify-content: flex-end;
    
}
.ulofnavicon li{
    list-style: none;
    font-size: 25px;
    text-align: right;
}
.iconcolor{
    color: black;
}
.hamburger-menu{
  display: none;
}
.mobile-menu-link{
  display: none;
}

@media (max-width: 950px){
  .nav{
    grid-template-columns: 3rem 2fr 2fr 1fr 3rem;
  }
  .ulofnavicon{
    display: none;
  }
  .hamburger-menu{
    display: block;
     font-size: 2.5rem;
     display: flex;
    justify-content: right;
    margin-top: 1rem;
    
  }
  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }
}